/* Tell the browser to render HTML 5 elements as block */  
header, footer, aside, nav, article {  
    display: block;  
}  

body {  
    margin: 0 auto;  
    width: 940px;
    background-color: #55c0c7;
    color: #444;
    font-family: 'Helvetica Neue', "Helvetica Neue Light", Helvetica;
}  

fieldset {
    margin: 0; padding: 0; border: 0; outline: none;
}

h1 {
    font-size: 28px;  
    line-height: 44px;  
    padding: 22px 0; 
}

h2 {  
    font-size: 23px;  
    line-height: 33px;  
    padding: 18px 0;  
}  

h3 {  
    font-size: 18px;  
    line-height: 22px;  
    padding: 11px 0;  
}  

p {  
    padding-bottom: 22px;  
}  

nav._top_content  {
	display: block;
	width: 100%;
	overflow: hidden;
	background-color: black;
}

nav._top_content ul {
	margin: 0px;
	padding: .7em;
	float: right;
	list-style: none;
	background: #444;
	background: rgba(0,0,0,.2);
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;
}

nav._top_content li {
	float:left;
}

nav._top_content a {
	float:left;
	padding: .8em 1.5em;
	text-decoration: none;
	color: #555;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	font: bold 1.1em/1 'trebuchet MS', Arial, Helvetica;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-width: 1px;
	border-style: solid;
	border-color: #fff #ccc #999 #eee;
	background: #c1c1c1;
	background: -moz-linear-gradient(#f5f5f5, #c1c1c1);
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#c1c1c1));
	background: -webkit-linear-gradient(#f5f5f5, #c1c1c1);
	background: -o-linear-gradient(#f5f5f5, #c1c1c1);
	background: -ms-linear-gradient(#f5f5f5, #c1c1c1);
	background: linear-gradient(#f5f5f5, #c1c1c1);
 }

nav._top_content a:hover, nav._top_content a:focus {
	outline: 0;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	background: #fac754;
	background: -moz-linear-gradient(#fac754, #f8ac00);
	background: -webkit-gradient(linear, left top, left bottom, from(#fac754), to(#f8ac00));
	background: -webkit-linear-gradient(#fac754, #f8ac00);
	background: -o-linear-gradient(#fac754, #f8ac00);
	background: -ms-linear-gradient(#fac754, #f8ac00);
	background: linear-gradient(#fac754, #f8ac00);
}

nav._top_content a:active {
	-moz-box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
}

nav._top_content li:first-child a {
	border-left: 0;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

nav._top_content li:last-child a {
	border-right: 0;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

nav.pagination {
    position: relative;
    display: inline;
    float: left;
    line-height: 44px;
    bottom: 20px;
    width: 852px;
}

nav.pagination a.later {
    position: absolute;
    top: 0;
    left: 0;
}

nav.pagination a.previous {
    position: absolute;
    top:0;
    right: 0;
}

#rounded_box {  
    margin-top: 0px;
    padding: 44px;  
    background: #fff repeat-x;  
    background-size: 100%;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}  

.container {  
    margin-top: 66px;  
    padding: 44px;  
    background: #fff repeat-x;  
    background-size: 100%;
    -moz-border-radius: 22px;
    border-radius: 22px;  
}  

footer {  
    margin-top: 66px;  
    width: 940px; 
}

.codescroll {
    overflow-x: scroll;
    overflow-y: scroll;
    min-height: 80px;
    max-height: 500px;
}

.blogcontent {
    padding-bottom: 2.5em;
}

form label {
    float: left; 
    clear: left; 
    margin: 5px 20px 0 0; 
    width: 150px;
}

form p {
    margin: 0;
    padding: 10px;
}

form input:not([type=radio]) {
    width: 100px; 
    padding: 5px; 
    margin: 0;	
}

form input[type=submit] {
    width: 120px;
    float: right; 
    padding: 5px; 
    margin: 0;
}

form input[type=reset] {
    width: 120px;
    float: right; 
    padding: 5px; 
    margin: 0;
}

form textarea {
    width: 640px; 
    padding: 5px; 
    margin: 0;	
}

form input#subject {
    width: 400px; 
    padding: 5px; 
    margin: 0;	
}

footer {
    text-align: center;
    font-size: 0.8em;
    clear: both;
}