/* Makeshift CSS Reset */  
{  
    margin: 0;  
    padding: 0;  
}  

/* Tell the browser to render HTML 5 elements as block */  
header, footer, aside, nav, article {  
    display: block;  
}  

body {  
    margin: 0 auto;  
    width: 940px;
    background-color: #55c0c7;
    color: #444;
    font-family: 'Helvetica Neue', "Helvetica Neue Light", Helvetica;
}  

h2 {  
    font-size: 28px;  
    line-height: 44px;  
    padding: 22px 0;  
}  

h3 {  
    font-size: 18px;  
    line-height: 22px;  
    padding: 11px 0;  
}  

p {  
    padding-bottom: 22px;  
}  

nav {  
    position: absolute;  
    left: 0;  
    width: 100%;
}  

nav ul {  
    margin: 0 auto;  
    width: 940px;  
    list-style: none;  
}  

nav ul li {  
    float: left;  
}  

nav ul li a {  
    display: block;  
    margin-right: 20px;  
    width: 140px;  
    font-size: 14px;  
    line-height: 44px;  
    text-align: center;  
    text-decoration: none;  
    color: #777;  
}  

nav ul li a:hover {  
    color: #fff;  
}  

nav ul li.selected a {  
    color: #fff;  
}  

nav ul li.subscribe a {  
    margin-left: 22px;  
    padding-left: 33px;  
    text-align: left;  
    background: left center no-repeat;  
}  

#rounded_box {  
    margin-top: 66px;  
    padding: 44px;  
    background: #fff repeat-x;  
    background-size: 100%;  
    border-radius: 22px;  
}  

.container {  
    margin-top: 66px;  
    padding: 44px;  
    background: #fff repeat-x;  
    background-size: 100%;  
    border-radius: 22px;  
}  

footer {  
    margin-top: 66px;  
    width: 940px; 
}