/* Makeshift CSS Reset */  
{  
    margin: 0;  
    padding: 0;  
}  

/* Tell the browser to render HTML 5 elements as block */  
header, footer, aside, nav, article {  
    display: block;  
}  

body {  
    margin: 0 auto;  
    width: 940px;
    background-color: #55c0c7;
    color: #444;
    font-family: 'Helvetica Neue', "Helvetica Neue Light", Helvetica;
}  

fieldset {
    margin: 0; padding: 0; border: 0; outline: none;
}

h2 {  
    font-size: 28px;  
    line-height: 44px;  
    padding: 22px 0;  
}  

h3 {  
    font-size: 18px;  
    line-height: 22px;  
    padding: 11px 0;  
}  

p {  
    padding-bottom: 22px;  
}  

nav {  
    position: absolute;  
    left: 0;  
    width: 100%;
}  

nav ul {  
    margin: 0 auto;  
    width: 940px;  
    list-style: none;  
}  

nav ul li {  
    float: left;  
}  

nav ul li a {  
    display: block;  
    margin-right: 20px;  
    width: 140px;  
    font-size: 14px;  
    line-height: 44px;  
    text-align: center;  
    text-decoration: none;  
    color: #777;  
}  

nav ul li a:hover {  
    color: #fff;  
}  

nav ul li.selected a {  
    color: #fff;  
}  

nav ul li.subscribe a {  
    margin-left: 22px;  
    padding-left: 33px;  
    text-align: left;  
    background: left center no-repeat;  
}  

nav.pagination {
    position: relative;
    display: inline;
    float: left;
    line-height: 44px;
    bottom: 20px;
    width: 852px;
}

nav.pagination a.later {
    position: absolute;
    top: 0;
    left: 0;
}

nav.pagination a.previous {
    position: absolute;
    top:0;
    right: 0;
}

#rounded_box {  
    margin-top: 66px;  
    padding: 44px;  
    background: #fff repeat-x;  
    background-size: 100%;  
    border-radius: 22px;  
}  

.container {  
    margin-top: 66px;  
    padding: 44px;  
    background: #fff repeat-x;  
    background-size: 100%;  
    border-radius: 22px;  
}  

footer {  
    margin-top: 66px;  
    width: 940px; 
}

.codescroll {
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 500px;
}

.blogcontent {
    padding-bottom: 2.5em;
}

form label {
    float: left; 
    clear: left; 
    margin: 5px 20px 0 0; 
    width: 150px;
}

form p {
    margin: 0;
    padding: 10px;
}

form input:not([type=radio]) {
    width: 100px; 
    padding: 5px 5px; 
    margin: 0 0 0 0;	
}

form input[type=submit] {
    width: 120px;
    float: right; 
    padding: 5px 5px; 
    margin: 0 0 0 0;
}

form input[type=reset] {
    width: 120px;
    float: right; 
    padding: 5px 5px; 
    margin: 0 0 0 0;
}

form textarea {
    width: 640px; 
    padding: 5px 5px; 
    margin: 0 0 0 0;	
}

form input#subject {
    width: 400px; 
    padding: 5px 5px; 
    margin: 0 0 0 0;	
}